@using Microsoft.AspNetCore.Identity
@model Alcotripnics.Models.ChangeRoleViewModel

<h2>Изменение ролей для пользователя @Model.Login</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="accountId" value="@Model.AccountId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.AccountRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>